@use "../../partials/color-scheme.scss" as *;
@use "../../partials/mixins.scss" as *;

.channels {
    flex-grow: 1;

    &__title {
        @include header-1;
        margin: 1rem 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__list-item {
        @include body-1;
        padding: 0.25rem 0.5rem;
        width: 100%;

        &:hover {
            background: $green;
        }
    }
}

.active {
    color: $green-lighter;
}