@use "../../partials/mixins.scss" as *;
@use "../../partials/color-scheme.scss" as *;

.chat {
    display: flex;
    flex-direction: column;
    background-color: $secondary-black;
    height: 100%;
    width: 100%;

    &__channel-header {
        @include header-2;
        background-color: $secondary-black;
        border-bottom: 2px solid $primary-black;
        color: $white;
        padding: 1rem;
    }

    &__message-list {
        display: flex;
        flex-direction: column-reverse;
        flex-grow: 1;
        padding: 1rem;
        overflow-y: auto;
    }

    &__message-list-item {
        @include message-styling;

        &--personal {
            @include message-styling;
            align-self: flex-end;
            background-color: $green;
            color: $white;
        }
    }

    &__send-form {
        display: flex;
        align-items: flex-end;
        gap: 1rem;
        padding: 1rem;
    }

    &__send-label {
        flex-grow: 1;
        padding: 0.5rem;
        margin-right: 1rem;
    }

    &__send-input {
        @include input-styling;
        @include body-1;
        flex-grow: 1;
        resize: none;
        height: 3rem;
        padding: 1rem;
    }

    &__send-button {
        @include button-styling;
        @include body-1;
        width: 5rem;
        height: 3rem;

        &:disabled {
            background-color: $secondary-black;
            cursor: inherit;
        }
    }
}
