$primary-black: #2a2d34;
$secondary-black: #464950;

$orange: #f26430;
$orange-lighter: #f26430;

$blue: #009ddc;
$blue-lighter: #33bef5;


$purple: #6761A8;
$purple-lighter: #887fe0;

$green: #009B72;
$green-lighter: #00d199;

$white: #ffffff;
$white-darker: #ebebeb;

