@use "../../partials/mixins.scss" as *;
@use "../../partials/color-scheme.scss" as *;

.chat-message {
    padding: 1rem;

    &__header {
        display: flex;
        align-items: baseline;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    &__username {
        @include body-2;
        &--hide {
            display: none;
        }
    }

    &__timestamp {
        @include label-1;
    }

    &__message {
        @include body-1;
        word-wrap: break-word;
    }
}