@use "../../partials/color-scheme.scss" as *;

.home-page {
    position: relative;
    display: flex;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $primary-black;
    color: $white;
    min-width: fit-content;
    width: 20rem;
    padding: 0.5rem;
}